# General requirements
argcomplete==3.3.0
asyncio-throttle==1.0.2
colorama==0.4.6
dataclass-type-validator==0.1.2
dataclasses-json==0.6.4
ezrest==0.3.0
GitPython==3.1.43
jsonalias==0.1.2
jsondiff==2.0.0
opencensus-ext-azure==1.1.13
packaging==24.0.0
python-dateutil==2.9.0.post0
pytz==2022.7.1
PyYAML==6.0.1
restio==0.2.1
requests==2.31.0
toml==0.10.2
yarl==1.9.4
certifi==2024.6.2
